:root {
  --primary-font: "Roboto", sans-serif;
  --main-letter-spacing: 0.03em;
  --second-letter-spacing: 0.02em;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --light-text-color: #ffffff;
  --contact-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196F3;
  --team-background-color: #F5F4FA;
  --header-background-color: #ffffff;
  --footer-background-color: #2F303A;
  --portfolio-set: 30px;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

label {
  display: block;
}

body {
  color: var(--main-text-color);
  font-family: var(--primary-font);
  letter-spacing: var(--primary-letter-spacing);
}

a {
  display: block;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--light-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--animation-timing);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--main-text-color);
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
  }
}

.caption {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: var(--main-letter-spacing);
  text-transform: uppercase;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.03em;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
}
.logo__accent--light {
  color: var(--light-text-color);
}
.logo__accent--dark {
  color: #000000;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  pointer-events: none;
  z-index: 1;
}

.mobile-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 48px 40px;
  overflow-y: auto;
}

.mob-menu__close {
  position: absolute;
  padding: 0;
  line-height: 0;
  top: 10px;
  right: 15px;
  border: transparent;
}

.mob-menu__close-btn {
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__close-btn:hover, .mob-menu__close-btn:focus {
  fill: var(--accent-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mob-menu__item > .mob-menu__link.menu__link--current {
  color: var(--accent-color);
}

.mob-menu__phone {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--accent-color);
}

.mob-menu__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.02em;
  margin-bottom: 62px;
  color: #757575;
}

.mob-menu__soc-list {
  display: flex;
}

.mob-menu__soc-item {
  position: relative;
}

.mob-menu__soc-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu__soc-item:not(:last-child) {
  margin-right: 20px;
}

.mob-menu__soc-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -10px;
  width: 1px;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid #ececec;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: var(--second-letter-spacing);
}

.header__container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
    margin-left: 88px;
    margin-right: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: var(--second-letter-spacing);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  top: 47px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav__list .current {
  position: relative;
  color: var(--accent-color);
}

.contacts {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-wrap: nowrap;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.header__open {
  border: transparent;
}
@media screen and (min-width: 768px) {
  .header__open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__open {
    display: none;
  }
}

.header__open-btn {
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__open-btn:hover, .header__open-btn:focus {
  fill: var(--accent-color);
}

.hero {
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-phoneimg@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--second-background-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Header-phoneimg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Header-tabletimg.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-tabletimg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-desctopimg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-desctopimg@2x.jpg);
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  color: var(--light-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
  }
}

.hero-btn {
  margin-left: auto;
  margin-right: auto;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features .container {
  display: block;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  max-width: 100%;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__caption {
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__caption {
    text-align: left;
  }
}

.features__text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.working {
  display: none;
  background-color: var(--white-color);
  text-align: center;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .working {
    display: block;
  }
}

.working__title {
  margin-bottom: 50px;
}

.working__list {
  display: flex;
}

.working__item {
  position: relative;
}
.working__item:not(:last-child) {
  margin-right: 30px;
}

.working__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: var(--main-letter-spacing);
  color: var(--light-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--team-background-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  background-color: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__desc {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__desc {
    padding-bottom: 30px;
  }
}

.team__hero {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

.team__text {
  margin-bottom: 16px;
  color: var(--second-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  cursor: pointer;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--light {
  color: #afb1b8;
  background-color: var(--header-background-color);
}
.socials__link--dark {
  color: var(--light-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--light-text-color);
}

.socials__icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients__item:hover, .clients__item:focus {
  border-color: var(--accent-color);
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    flex-wrap: nowrap;
  }
}

.address-wrap {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address-wrap {
    text-align: left;
  }
}

.address {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
    text-align: left;
  }
}

.address__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item :not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--white {
  color: var(--light-text-color);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.join {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__caption {
  margin-bottom: 20px;
  color: var(--header-background-color);
}
@media screen and (min-width: 1200px) {
  .join__caption {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter {
    margin-left: 93px;
  }
}

.newsletter__caption {
  margin-bottom: 20px;
  color: var(--light-text-color);
}
@media screen and (min-width: 1200px) {
  .newsletter__caption {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__form {
    display: flex;
  }
}

.newsletter__input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--main-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .newsletter__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.newsletter__input:focus {
  border-color: var(--accent-color);
}
.newsletter__input::placeholder {
  color: var(--contact-text-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: var(--main-letter-spacing);
}

.newsletter__btn {
  padding: 10px 29px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__icon {
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.476);
  position: fixed;
  top: 0;
  transition: opacity 400ms, visibility 400ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-90deg);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: var(--header-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 400ms;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
    overflow: scroll;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--header-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.modal-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  color: var(--main-text-color);
}

.modal-form__field {
  display: block;
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input-wrap {
  margin-top: 4px;
  margin-bottom: 10px;
  position: relative;
}

.modal-form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-form__comment {
  resize: none;
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:focus {
  border-color: var(--accent-color);
}

.modal-form__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: var(--main-letter-spacing);
  color: var(--second-text-color);
}
@media screen and (min-width: 1200px) {
  .modal-form__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__icon-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__checkbox:checked + .modal-form__icon-wrap {
  background-color: var(--accent-color);
  border: none;
}
.modal-form__checkbox:focus + .modal-form__icon-wrap {
  border-color: var(--accent-color);
}
.modal-form__checkbox:focus + .modal-form__icon-wrap {
  border-color: var(--accent-color);
}

.modal-form__check-icon {
  fill: transparent;
}
.modal-form__checkbox:checked + .modal-form__icon-wrap .modal-form__check-icon {
  fill: #ffffff;
}

.modal-form__agreement {
  color: var(--accent-color);
}

.modal-form__btn {
  margin: 0 auto;
  padding: 10px 55px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filtres__list {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (max-width: 480px) {
  .filtres__list {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .filtres__list {
    margin-bottom: 40px;
  }
}

.filters__btn {
  display: inline-block;
  height: 38px;
  padding: 6px 22px;
  background-color: var(--team-background-color);
  color: var(--main-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: var(--accent-color);
  color: var(--light-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  background-color: var(--header-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    width: calc((100% - 60px) / 3);
  }
}

.card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover, .card:focus {
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__wrap {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: var(--main-letter-spacing);
  color: var(--light-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__desc {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.card__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.card__text {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.9;
}/*# sourceMappingURL=main.css.map */