.header {
    background-color: var(--header-background-color);
    border-bottom: 1px solid #ececec;
    @include font (14px, 500, 1.14);
    letter-spacing: var(--second-letter-spacing);
}

.header__container {
    @include flex();
    // display: flex;
    // align-items: center;
}

.nav {
    @include flex();
    // display: flex;
    // align-items: center;
}

.nav__list {
    display: flex;
    margin-left: 93px;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    @include font (14px, 500, 1.14);
    letter-spacing: var(--second-letter-spacing);
    @include transition-one(color);


    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.nav__list .current {
    position: relative;
    color: var(--accent-color);
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
    padding: 0;
}

.contacts__link {
    @include flex();
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--second-text-color);
    @include transition-one(color);


    &:hover,
    &:focus {
         color: var(--accent-color);
    }
}

