.hero {
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/heromob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--second-background-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;

    @include retina {
        background-image: linear-gradient(rgba(25, 28, 38, 0.2),
                rgba(25, 28, 38, 0.2)),
            url("../images/heromob2x.jpg");
    }

    @include tablet {
        background-image: linear-gradient(rgba(25, 28, 38, 0.2),
                rgba(25, 28, 38, 0.2)),
            url("../images/header-tabletimg.jpg");

    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                url("../images/header-tabletimg@2x.jpg");
        }
    }

    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
        max-width: 1600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../images/herodesktop.jpg");

    @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../images/herodesktop2x.jpg");
        }
    }
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    @include font (26px, 900, 1.6);
    color: var(--light-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 1200px) {
        max-width: 696px;
        @include font (44px, 900, 1.4);
    }
}

.hero-btn {
    margin-left: auto;
    margin-right: auto;
}