:root {
    --primary-font: 'Roboto', sans-serif;
    // --primary-font-size: 14px;
    --main-letter-spacing: 0.03em;
    --second-letter-spacing: 0.02em;

    --main-text-color: #212121;
    --second-text-color: #757575;
    --light-text-color: #ffffff;
    --contact-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --team-background-color: #F5F4FA;
    --header-background-color: #ffffff;
    --footer-background-color: #2F303A;

    --portfolio-set: 30px;
    // --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
}